.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 900px;
    padding: 1%;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: left;
    

    border-style: solid;
    border-color: gray;
    border-width: 1px;
    border-radius: 5px;
    
    width: 90vw;
    padding: 2%;
    margin: 10px;  
}

.textbox {
    height: 20vh;
    margin: 10px;
    width: 97%;
}

.btn
{
    width: 6vw;
}

#editText {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.editContainer
{
    display: flex;
    justify-content: space-between; 
}

.likePost {
    display: flex;
    flex-direction: row;
}

.likeViewer {
    display: flex;
    flex-direction: row;
}


